input {
    width: 15%;
}
input:focus {
    outline: none;
}
input:in-range {
    border: 1px solid green;
}
input:out-of-range {
    border: 1px solid red;
}

.layout {
    text-align: center;
}
.btn_display_btn {
    opacity: 0;
}
.btn_display_input:not(:placeholder-shown) + button {
    opacity: 1;
}